@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

header {
  min-height: 70px;
}
