@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

header {
  height: 70px;
}

main {
  display: flex;
  flex-direction: row;
}
